.novembit-i18n-translation-editor {
    position: relative;
}

.novembit-i18n-translation-editor:hover + .i18n-list,
.novembit-i18n-translation-editor + .i18n-list:hover {
    display: block;
}

.novembit-i18n-translation-editor + .i18n-list {
    display: none;
    z-index: 999;
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    background: #fff;
    width: 300px;
    columns: 2;
    padding: 10px !important;
    box-shadow: 0 0 5px #999;
    list-style: none;
}

.novembit-i18n-translation-editor + .i18n-list li {
    padding: 0;
    margin: 0;
    font-size: 0;
}

.novembit-i18n-translation-editor + .i18n-list li a {
    line-height: 1em;
    font-size: 0.9rem;
    vertical-align: middle;
}

.novembit-i18n-translation-editor + .i18n-list li img {
    width: 24px;
    margin-right: 5px;
    vertical-align: middle;
}

.novembit-i18n-translation-editor + .i18n-list li span {
    vertical-align: middle;
}

.novembit-i18n-translation-editor + .i18n-label {
    cursor: pointer;
}