.novembit-i18n-language-switcher .loading {
    font-size: 0.8rem;
    color: #9b9b9b;
}

.novembit-i18n-language-switcher .label:hover .list {
    display: block;
}

.novembit-i18n-language-switcher .label .list {
    display: none;
    position: absolute;
    z-index: 999;
    margin: 0;
    background: #fff;
    width: 260px;
    columns: 2;
    padding: 5px;
    box-shadow: 0 0 5px #999;
    list-style: none;
}

.novembit-i18n-language-switcher .label .list li {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
}

.novembit-i18n-language-switcher .label .list li a {
    line-height: 1em;
}

.novembit-i18n-language-switcher .label {
    cursor: pointer;
    font-size: 14px;
    color: #666;
}

.novembit-i18n-language-switcher .label:hover {
    color: #444;
}

.novembit-i18n-language-switcher .label .list li img {
    width: 24px;
    margin-right: 5px;
}