.novembit-i18n-wrap {
    font-size: 16px;
}

ul.novembit-i18n-admin-nested-fields > ul.novembit-i18n-admin-nested-fields > ul.novembit-i18n-admin-nested-fields {
    display: none;
}

ul.novembit-i18n-admin-nested-fields {
    padding: 10px 0 10px 10px;
    font-size: 0.95em;
    background: #00000008;
}

ul.novembit-i18n-admin-nested-fields .group {
    margin-top: 5px;
}

ul.novembit-i18n-admin-nested-fields .group button {
    margin: 0;
}

ul.novembit-i18n-admin-nested-fields .group > * {
    vertical-align: top;
}

ul.novembit-i18n-admin-nested-fields .section > .label {
    color: #007cba;
    font-weight: normal;
}

ul.novembit-i18n-admin-nested-fields > .label {
    background: #007cba;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: solid 1px #ddd;
    margin: 0;
    cursor: pointer;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    ul.novembit-i18n-admin-nested-fields .section>.field {
        -moz-column-count: 2;
        -moz-column-gap: 5px;
        -webkit-column-count: 2;
        -webkit-column-gap: 5px;
        column-count: 2;
        column-gap: 5px;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    ul.novembit-i18n-admin-nested-fields .section>.field {
        -moz-column-count: 3;
        -moz-column-gap: 5px;
        -webkit-column-count: 3;
        -webkit-column-gap: 5px;
        column-count: 3;
        column-gap: 5px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    ul.novembit-i18n-admin-nested-fields .section>.field {
        -moz-column-count: 5;
        -moz-column-gap: 5px;
        -webkit-column-count: 5;
        -webkit-column-gap: 5px;
        column-count: 5;
        column-gap: 5px;
    }
}
